services:
  backend:
    build:
      context: ./backstage
      dockerfile: Dockerfile
    container_name: task-manager-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    volumes:
      - ./backstage:/app
    networks:
      - task-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task-manager-frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000/api
    networks:
      - task-network
    depends_on:
      - backend

networks:
  task-network:
    driver: bridge
